/* Home Section */
#home {
  height: auto;
  background-image: url(../cover.jpg);
  background-size: cover;
  background-position: center;
}

#home .container-fluid {
  padding: 2% 7%;
}

.nav-item {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
  padding: 0 18px;
}

#home .row {
  padding: 180px 0;
  height: auto;
  color: #fff;
}

#home .row h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

@media(max-width: 960px) {
  #home .row h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 1.5;
  }
}

/* Travell Spot Section */
#Travell-Spot {
  height: auto;
  padding: 10%;
  text-align: center;
  background-color: #f7f6e7;
}

#Travell-Spot .place {
  margin: auto;
  padding: 2%;
  text-align: center;
}

.card {
  box-shadow: 0px 3px 3px 0px;
  margin: auto;
  float: none;
  margin-bottom: 10px;
}

.Travell-Spot-Title {
  margin-bottom: 3%;
  text-align: center;
}

#Travell-Spot h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
}

#Travell-Spot h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1rem;
}
#Travell-Spot h4 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 2rem;
}



/* Review Section */
#review {
  text-align: center;
  background-color: white;
  color: #000;
  background-image: url(../cover2.jpg);
  background-size: cover;
}
#review h2 {
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
.carousel-item {
  padding: 7% 15%;
}
.review-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
